
#inicio-logo{
  width: 80px;
}
#portada-image{
  width: 400px;
}
.navbar.inicio{
  padding-left: 3rem;
  padding-right: 3rem;
  /* background-color: #4c008215 !important; */
  background-color: #182784 !important;

}
.nav.items-menu{
  display:ruby-base-container;
}
.inicio li {
  padding-left: 1rem;
  padding-right: 1rem;
  
}
.items-menu li a{
  color: white;
  /* font-family: 'Nunito-Sans'; */
  font-size: 18px;
}
.btn.inicio{
  background-color: white;
  border-radius: 2rem;
  padding-left: 1rem;
  font-size: 18px;
  padding-right: 1rem;
  color:#012F61;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-color: aliceblue;
}