.Option {
    display: flex;
    overflow: hidden;
    width: 14rem;
    height: 7rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: solid 1px #8c8f90;
    margin: 1rem;
    cursor: pointer;
    font-weight: 700;
}

.Option:hover {
    border: solid 1px #00a3cc;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 163, 204, 0.171);
    -moz-box-shadow: 0px 0px 0px 10px rgba(0, 163, 204, 0.171);
    box-shadow: 0px 0px 0px 10px rgba(0, 163, 204, 0.171);
}

.Option:visited {
    background-color: #00a3cc;
    
} 